/* #region RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion RESET*/
body{
    height: 100vh;
    background-color: #141922;
}
img{
    max-width: 100%;
    max-height: 70%;
    
}

nav {
    background-color: black;
    position: relative;
    z-index: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
   
    

}


main{
    background-color: #080b12;
    
}
.bottom-nav{
margin-top: 250px;




}

.play-bar{
    position: fixed;
    display: flex;
    bottom: 0;
    background-color: #282828;
    width: 100vw;
    z-index: 2;
    height: 5.625rem;
    justify-content: space-between;
    
}

.play-content{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    
}

a{
    text-decoration: none;
    color: white;
    margin-top: .9375rem;
    margin-bottom: .625rem;
    border: solid;
    padding: .4375rem;
    border-radius: 1.25rem;
    
    
}

li{
    text-decoration: none;
    color: black;
}

/*MEDIA QUERY*/
@media screen and (min-width: 576px) {
    nav {
        width: 3.0625rem; 
        padding: 1.25rem 0 .625rem 0;
    }
}

@media screen and (min-width:768px){

}

@media screen (min-width:992px) {
    
}

@media screen and (min-width:1200px) {
    
}