/* #region RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion RESET*/

nav{
    background-color: black;
    height: 62.8125rem;
    width: 2.875rem;
    position: fixed;
    padding-top: 1.1875rem;
    
}
.bottom-nav{
margin-top: 41.25rem;
}

.upgrade-bar{
    position: fixed;
}

/*MEDIA QUERY*/
@media screen and (min-width:768px){

}
@media screen and (min-width:1200px) {
    
}